<div class="container">
<h1>Group <%=%></h1>
<%= link_to 'ADD NEW', new_group_path, class: 'btn custom' %>
    <% @group.transactions.each do |t| %>
        <div class = 'row'>
            <div class = 'col-10 card p-3 text-center'>       
                <p><strong>Username:</strong> <%= t.user.username.capitalize %></p>
                <p><strong>Transaction name:</strong> <%= t.name %></p>
                <p><strong>Amount:</strong> $<%= t.amount %></p>
                <p><strong>created at:</strong> <%= t.created_at %></p> 
            </div>
        </div>
    <%end%>

</div>