<div class="container text-center card">
   <h1>Name:<%= @transaction.name %></h1>
   <h1>Amount:<%= @transaction.amount %></h1>
   <h1>Name:<%= @transaction.group.name %></h1>
        <h3>Host: <%= @transaction.user.username.capitalize %></h3>
    <hr>
  
    <p><%= link_to 'ADD NEW', new_transaction_path, class: 'btn btn-success' %></p>

    <p><%= link_to 'Home', root_path, class: 'btn btn-warning' %></p>
</div>