<nav class="navbar navbar-expand-lg">
  <%=link_to "Group Family Transactions", root_path, class: "navbar-brand text-white" %>
  <!-- Collapse button -->
  <button class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23"
    aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
  </button>
<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe %>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent23">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

  <div class="collapse navbar-collapse container " id="navbarNav">
    <% if logged_in?%>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active mr-4">
        <%= link_to "My transactions", user_path(current_user), class: "nav-link text-white" %>
      </li>
      <li class="nav-item active mr-4">
        <%= link_to "All transactions", root_path, class: "nav-link text-white" %>
      </li> 
      <li class="nav-item active mr-4">
        <%= link_to "All Groups", groups_path, class: "nav-link text-white" %>
      </li> 
      <li class="nav-item mr-4">
      <%=link_to('Logout', logout_path, class: "btn btn-xs btn-danger shadow mr-3", method: :delete)%>
      </li>
    </ul>
    <% else %>

     <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
          <%= link_to "Sign In", login_path, class: "nav-link text-white " %>
        </li>
       <li class="nav-item active">
        <%= link_to "Sign Up", new_user_path, class: "nav-link text-white " %>
      </li>
    </ul>
    
  <% end -%>
  </div>
</nav>